<ion-menu side="start" menuId="main-menu" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-button *ngIf="isLogged"  href="/user-page" expand="full" color="primary">
        Profesor
      </ion-button>
      <ion-button *ngIf="!isLogged" expand="full" href="/login">
        Login
      </ion-button>
      <ion-button expand="full" (click)="help()">
        Ayuda
      </ion-button>
      <ion-button expand="full" >
        Terminos de uso
      </ion-button>
      <ion-button *ngIf="isLogged" (click)="logout()" href="/login" expand="full" color="secondary" class="topDown">
        Cerrar sesion
      </ion-button>
    </ion-list>
  </ion-content>
</ion-menu>
